#set( $symbol_dollar = '$' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${symbol_dollar}{ets-code}-${symbol_dollar}{version}" verbose="0" configfailurepolicy="skip">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="${package}.TestRunListener" />
    <listener class-name="${package}.SuiteFixtureListener" />
  </listeners>

  <test name="Conformance Level 1">
    <classes>
      <class name="${package}.level1.Capability1Tests" />
    </classes>
  </test>
  <test name="Conformance Level 2">
    <classes>
      <class name="${package}.level2.Capability2Tests" />
    </classes>
  </test>
</suite>
